@model IEnumerable<SimApp.Models.SimModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a SimsApp</h1>
    <p>CRUD de Sims</p>
</div>

<div>
    <h2>Funcionalidades</h2>
    <ul>
        <li>Ver sims añadidos</li>
        <li>Añadir sims</li>
        <li>Modificar sims añadidos</li>
        <li>Eliminar sims</li>
    </ul>
</div>

<div>
    <h2>Futuro</h2>
    <ul>
        <li>Fama</li>
        <li>Sims Ocultos</li>
        <li>Relaciones</li>
        <li>Personalidades</li>
        <li>Fotos</li>
    </ul>
</div>
